:root {
  --primary: rgb(53, 124, 127);
  --background: #303030;
  --background2: #464646;
  --text: lightgray;
  --accent: rgba(226, 109, 92, 0.5);
  --transparent: rgba(255, 255, 255, 0.1);
  --transparent-more-opaque: rgba(255, 255, 255, 0.2);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  overflow-y: scroll;
}

a {
  color: inherit;
}
